[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kanata --cfg /home/bryan/.config/kanata/conf
Restart=always

[Install]
WantedBy=multi-user.target
