binds {
    Ctrl+Comma hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "focusOrToggle"; }
    Mod+C hotkey-overlay-title="Color Picker" { spawn-sh " dms ipc call color-picker toggle"; }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Shift+A hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    Mod+Shift+C hotkey-overlay-title="Pick Color Rgb" { spawn-sh "dms color pick --autocopy --rgb"; }
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+X hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Brightness Down (10%)" { spawn "dms" "ipc" "call" "brightness" "decrement" "10" ""; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Brightness Up (10%)" { spawn "dms" "ipc" "call" "brightness" "increment" "10" ""; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Comma { focus-workspace-up; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+M { focus-workspace-down; }
    Mod+Shift+Comma { move-window-to-workspace-up; }
    Mod+Shift+Ctrl+I { move-workspace-to-monitor-next; }
    Mod+Shift+Ctrl+U { move-workspace-to-monitor-next; }
    Mod+Shift+M { move-window-to-workspace-down; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+J { focus-monitor-down; }
    Mod+Ctrl+K { focus-monitor-up; }
    Mod+Ctrl+L { focus-monitor-right; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+Shift+S { screenshot-window; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+End { focus-column-last; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { maximize-column; }
    Mod+H { focus-column-left; }
    Mod+Home { focus-column-first; }
    Mod+I { focus-monitor-next; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Period { expel-window-from-column; }
    Mod+Q repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+Ctrl+H { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-window-to-monitor-right; }
    Mod+Shift+End { move-column-to-last; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+I { move-window-to-monitor-next; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Shift+S { screenshot-window; }
    Mod+Shift+U { move-window-to-monitor-next; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+U { focus-monitor-next; }
    Mod+V { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+Shift+P { power-off-monitors; }
    Mod+S { screenshot; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+X { quit; }
    Mod+A hotkey-overlay-title="Open Activity: Btop" { spawn-sh "alacritty -e btop"; }
    Mod+B hotkey-overlay-title="Open Main Browser: Firefox" { spawn-sh "~/.config/bin/niri-launch-browser"; }
    Mod+D hotkey-overlay-title="Open a nvim DBUI in Ghostty" { spawn-sh "~/.config/bin/niri-launch-dbui"; }
    Mod+Shift+B hotkey-overlay-title="Open New Browser: Firefox" { spawn-sh "~/.config/bin/niri-launch-browser --new"; }
    Mod+Shift+D hotkey-overlay-title="Open new nvim DBUI in Ghostty" { spawn-sh "~/.config/bin/niri-launch-dbui --new"; }
    Mod+Shift+T hotkey-overlay-title="Open a NEW Terminal: Ghostty" { spawn-sh "~/.config/bin/niri-launch-terminal --new"; }
    Mod+T hotkey-overlay-title="Open a Terminal: Ghostty" { spawn-sh "~/.config/bin/niri-launch-terminal"; }
    Super+E hotkey-overlay-title="Yazi" { spawn-sh "alacritty -e yazi"; }
    Super+Shift+E hotkey-overlay-title="Nautilus FM" { spawn "nautilus"; }
    Super+Shift+W hotkey-overlay-title="Reload Waybar" { spawn-sh "pkill waybar; waybar"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.025-"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.025+ -l 1.0"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }
}
